<template>
  <div id="app">
    <p class="text6">BOOKS MANAGEMENT</p>
<div class="container">
            
            <p class="text7">Add Book</p>

        </div>
       
        <div class="container">       
            <table class="table table-bordered ">
              <thead class="thead1">
                <tr>
                    <th>Book Name</th>
                     <th>Author</th>
                     <th>Copies</th>
                     <th>Category</th>
                     <th>Edit</th>
                     <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                 <tr v-for="Book in PatronModelFilter" :key="Book.id">
                  <td>
                    {{ Book.name }}
                  </td>
                  <td>
                    {{ Book.author }}
                  </td>
                  <td>
                    {{ Book.copies }}
                  </td>
                  <td>
                    {{ Book.category_id }}
                  </td>
                  <td class="text-center">
                    <a > <img src="../../assets/image/edit.png"  width="30px" height="30px" @click="Form = Book" v-b-modal.UpdateBook >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a @click="SelectedBook = Book" v-b-modal.DeleteModal ><img src="../../assets/image/delete.png" width="30px" height="30px"> </a>
                  </td>
                  
                </tr>
               
                      
               </tbody>
            </table>
          </div>
 
        
                <button v-b-modal.AddBook @click="$bvModal.show('AddBook')" class="btn"  >
                    <img src="../../assets/image/addpatron.png" class="img">
                </button>
               
         
          <div class="input-group w-25" style="bottom: 650px;">
            <input type="text" class="form-control " placeholder="Search...">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i> <img src="../../assets/image/search.png" height="23px" width="auto">
              </button>
            </div>
          </div>

        
<b-modal id="AddBook" hide-footer hide-header ref="modal" >
<div class="modal-header" style="background-color: #C2AF00">
                        <h5 class="modal-title" id="exampleModalLabel">Add Books</h5>
                        <button @click="HideModal" type="button" class="close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
          <div class="modal-body">
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                     <span>Book Name</span>
                 <input id="BookName"  v-model="Form.name" type="text" name="bookname" class="form-control form-control-lg" placeholder="Book Name">
                   </div>
                   <div class="form-group">
                      <span>Author</span>    
                   <input id="Author"  v-model="Form.author" type="text" name="author" class="form-control form-control-lg" placeholder=" Author ">
                   </div>
                   <div class="form-group">
                      <span>Copies</span>    
                   <input id="Copies"  v-model="Form.copies" type="text" name="copies" class="form-control form-control-lg" placeholder=" Copies ">
                   </div>
                   <div class="form-group">
                     <label for="recipient_name" class="col-form-label" id="labels">Category:</label>
                    <b-form-select id="Genre" v-model="Form.category_id">
                      <b-form-select-option
                      :value="Category.id"
                       v-for="Category in AllCategories"
                       :key="Category.id"
                        >{{ Category.category }}</b-form-select-option>
                    </b-form-select>
                   </div>

               <div class="form-group">
                 <button @click="AddBook" type="button" class="btn btn-secondary" style= "background-color: #C2AF00">Submit</button>
               </div>
               </form>
            </div>
            </b-modal>

            <b-modal  id="UpdateBook" title="Update Book" centered modal-header no-close-on-backdrop no-close-on-esc hide-header hide-footer ref="modal">
              <div class="modal-header" style="background-color: #C2AF00">
                        <h5 class="modal-title" id="exampleModalLabel">Update Book</h5>
                        <button @click="HideModal" type="button" class="close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
             <div class="modal-body p-4">
               <form id="AddBook" ref="modal">
                   <div class="form-group">
                     <span>First Name</span>
                 <input id="FirstName"  v-model="Form.name" type="text" name="name" class="form-control form-control-lg" placeholder="Firssst Name ">
                   </div>
                   <div class="form-group">
                      <span>Middle Name</span>    
                   <input id="MiddleName"  v-model="Form.author" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                   </div>
                    <div class="form-group">
                      <span>Last Name</span>    
                   <input id="LastName"  v-model="Form.copies" type="text" name="lastname" class="form-control form-control-lg" placeholder=" Last Name ">
                   </div>
                  <div class="form-group">
                     <label for="recipient_name" class="col-form-label" id="labels">Category:</label>
                    <b-form-select id="Genre" v-model="Form.category_id">
                      <b-form-select-option
                      :value="Category.id"
                       v-for="Category in AllCategories"
                       :key="Category.id"
                        >{{ Category.category }}</b-form-select-option>
                    </b-form-select>
                   </div>
                <div class="form-group">
                 <button @click="UpdateBook()" type="button" class="btn btn-secondary" style= "background-color: #C2AF00">Submit</button>
               </div>
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdateBook()"> Update Book </button>    
            </div>
          </template>
        </b-modal>

 



  <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-success mr-2"  data-dismiss="modal" block @click="DeleteBook()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>
     </div>
</template>
<script src="../../assets/js/book.js"></script>
<script>
import { mapGetters, mapActions } from "vuex";
import Book from '../../assets/js/book.js'
export default Book;

</script>

<style>

</style>
