<template>
  <div id="app">
<p class="text6">DASHBOARD</p>     
 <!-- DIDI IG BUTANG TIM DASHBOARD CODE  ikaw na bahala pag butang -->   
  
  
  
  
  
  
             <div class="row">
              <div class="column">
                <canvas id="barChart" ref="barChart"></canvas>    
              </div>
              <div class="column">
                <canvas id="pieChart"></canvas>
              </div>  
           
  
  </div>
  </div>
</template>

<script>

//import anay
import Chart from 'chart.js';
export default {
  components: {
     
  },
  data(){
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    
  },
  mounted() {
    document.title = "Dashboard"
    this.$nextTick(() => {
      var ctx = this.$refs.barChart.getContext("2d");
      new Chart(ctx, {
        type: "bar",
        data: {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
          datasets: [
            {
              label: "Borrowed Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(0, 0, 255, 0.3)",
            },
            {
              label: "Remaining Books",
              data: [7, 10, 9, 12, 13, 6],
              backgroundColor: "rgba(117, 121, 231,8)",
            },
            {
              label: "Returned Books",
              data: [4, 7, 10, 11, 8, 8],
              backgroundColor: "rgba(154, 179, 245, .8)",
            },
          ],
        },
        options: {
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });

      var pie = document.getElementById("pieChart").getContext("2d");
      new Chart(pie, {
        type: "doughnut",
        data: {
          datasets: [
            {
              data: [30, 10, 15, 20,40],
              backgroundColor: [
                "rgb(52, 152, 219, .8)",
                "rgba(154, 179, 245, .8)",
                "rgba(27, 206, 230, .8)",
                "rgba(27, 64, 230, .8)",
                "rgba(27, 30, 30,113 )",
              ],
            },
          ],

          labels: [
					'Horror',
					'Love',
					'Mystery',
					'Romance',
					'History'
				],
        },
        
      });
    });
  },
  
};
 
</script>

<style>
</style>