<template>
  <div id="app">
    <p class="text6">PATRON MANAGEMENT</p>
<div class="container">
            
            <p class="text7">Add Patron</p>

        </div>
       
        <div class="container">       
            <table class="table table-bordered ">
              <thead class="thead1">
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Date Registered</th>
                    <th>Edit</th>
                     <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                 <tr v-for="Patron in PatronModelFilter" :key="Patron.id">
                  <td>{{ index }}</td>
                  <td>
                    {{ Patron.first_name + "" + Patron.last_name }}
                  </td>
                  <td>
                    {{ Patron.email }}
                  </td>
                  <td>
                    {{ Patron.created_at }}
                  </td>
                  <td class="text-center">
                    <a href="#"> <img src="../../assets/image/edit.png"  width="30px" height="30px"  @click="Form = Patron" v-b-modal.UpdatePatron >
                    </a>
                  </td>
                  <td class="text-center" >
                     <a href="#" @click="SelectedPatron = index" v-b-modal.DeleteModal ><img src="../../assets/image/delete.png" width="30px" height="30px"> </a>
                  </td>
                  
                </tr>
               
                      
               </tbody>
            </table>
          </div>
 
        
                <button v-b-modal.AddPatron @click="$bvModal.show('AddPatron')" class="btn"  >
                    <img src="../../assets/image/addpatron.png" class="img">
                </button>
               
         
          <div class="input-group w-25" style="bottom: 650px;">
            <input type="text" class="form-control " placeholder="Search...">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i> <img src="../../assets/image/search.png" height="23px" width="auto">
              </button>
            </div>
          </div>

        
<b-modal id="AddPatron" hide-footer hide-header ref="modal" >
<div class="modal-header" style="background-color: #C2AF00">
                        <h5 class="modal-title" id="exampleModalLabel">Add Patron</h5>
                        <button @click="HideModal" type="button" class="close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
          <div class="modal-body">
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                     <span>First Name</span>
                 <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" placeholder="Firssst Name ">
                   </div>
                   <div class="form-group">
                      <span>Middle Name</span>    
                   <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                   </div>
                    <div class="form-group">
                      <span>Last Name</span>    
                   <input id="PatronLastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" placeholder=" Last Name ">
                   </div>
                  <div class="form-group">
                    <span>Email Address</span> 
                  <input id="PatronEmailAddress" placeholder=" Email Address" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
               <div class="form-group">
                 <button @click="AddPatron" type="button" class="btn btn-secondary" style= "background-color: #C2AF00">Submit</button>
               </div>
               </form>
            </div>
            </b-modal>

            <b-modal  id="UpdatePatron" title="Update Patron" centered modal-header no-close-on-backdrop no-close-on-esc hide-header hide-footer ref="modal">
              <div class="modal-header" style="background-color: #C2AF00">
                        <h5 class="modal-title" id="exampleModalLabel">Update Patron</h5>
                        <button @click="HideModal" type="button" class="close" >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
             <div class="modal-body p-4">
               <form id="AddPatron" ref="modal">
                   <div class="form-group">
                     <span>First Name</span>
                 <input id="PatronFirstName"  v-model="Form.first_name" type="text" name="name" class="form-control form-control-lg" placeholder="Firssst Name ">
                   </div>
                   <div class="form-group">
                      <span>Middle Name</span>    
                   <input id="PatronMiddleName"  v-model="Form.middle_name" type="text" name="middlename" class="form-control form-control-lg" placeholder=" Middle Name ">
                   </div>
                    <div class="form-group">
                      <span>Last Name</span>    
                   <input id="PatronLastName"  v-model="Form.last_name" type="text" name="lastname" class="form-control form-control-lg" placeholder=" Last Name ">
                   </div>
                  <div class="form-group">
                    <span>Email Address</span> 
                  <input id="PatronEmailAddress" placeholder=" Email Address" v-model="Form.email" type="text" name="email" class="form-control form-control-lg" value="Email Address" required>
               </div> 
                <div class="form-group">
                 <button @click="UpdatePatron()" type="button" class="btn btn-secondary" style= "background-color: #C2AF00">Submit</button>
               </div>
               </form>
            </div>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
              <button type="button" class="btndesigns btn btn-info btn-block btn-lg" @click="UpdatePatron()"> Update Patron </button>    
            </div>
          </template>
        </b-modal>

 



  <b-modal  size="300px" hide-header id="DeleteModal"  centered ref="modal">
           <h3 class="text-center">Are you sure you want to Delete?</h3>
          <template #modal-footer class="float-right">
            <div class="w-100 float-right">
           
             <button type="button" class="promptt btn btn-success mr-2"  data-dismiss="modal" block @click="DeletePatron()" >
                Yes
              </button>
                <button type="button" class="promptt btn btn-success" block @click="$bvModal.hide('DeleteModal')">
                Cancel
              </button>
              
            </div>
          </template>
        </b-modal>
     </div>
</template>
<script src="../../assets/js/patron.js"></script>
<script>
import { mapGetters, mapActions } from "vuex";
import Patron from '../../assets/js/patron.js'
export default Patron;

</script>

<style>

</style>
