<template>
  <div id="app">
   
    <h3> SETTINGS INI </h3>
        
    
  </div>
</template>
<script>


export default {
  mounted(){
    document.title = "Settings"
  },
  components: { 
      
      },
};
</script>

<style>

</style>