body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;

}
header {
    width: 100%;
    height: 60px;
    background-color: black;
    text-align: center;

}


span{
    color: #ffffff;
    text-align: center;
}

ul{
    width: auto;
    text-align: center;
    margin-top: 0px;

}
li {
    display: inline-block;
    padding: 23px 30px;
      text-align: center;
    
}

a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.0vw;
}

a:hover {
    color: green;
    transition: 0.5s;
}
.text20 {
    color: white;
    border-color: green;
}

.navbar-nav {
    float: none;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container.gallery-container {
    background-color: black;
    color: #35373a;
    min-height: 100vh;
    border:groove;
    border-color: green;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);

}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 40px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}