body,html{
  margin: 0;
  padding: 0;
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: “Helvetica Neue”, Helvetica, Arial, sans-serif;
  height: 100%;
}
header {
	width: 100%;
	height: 60px;
	background-color: black;
}


span{
	color: #ffffff;
}

ul{
	width: auto;
	text-align: center;
	margin-top: 0px;
}
li {
	display: inline-block;
	padding: 23px 30px;
	
}

a{
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 2.0vw;
}

a:hover {
	color: green;
	transition: 0.5s;
}

.text1 {
	color: white; 
	font-size: 25px; 
	font-style: verdana; 
	vertical-align: top; 
	position:relative; 
	left:80px; 
	top:55px;
}



.text2 {
	color: white; 
	font-size: 30px; 
	font-style: verdana; 
	vertical-align: top; 
	position:absolute; 
	bottom: 230px; 
	left: 900px; 
	white-space: pre-wrap
}

.text3 {
	color: white; 
	font-size: 35px; 
	font-style: verdana; 
	position:absolute; 
	left:300px; 
	top:570px;
	text-align: center;
	border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 30px;
    width: 70px;
    height: 20px;
}

.image {
	width:600px; 
	padding-top:1px; 
	padding-right: 30px;  
	padding-left: 170px;
}

.image1 {
; 
position:absolute; 
left:40px; 
top:550px;
}

.image2 {

position:absolute; 
left:470px; 
top:497px;
}

.image3 {
position:absolute; 
left:930px; 
top:370px;
}

.image4 {
position:absolute; 
left:1px; 
top:1px;
}

.image5 {
position:absolute; 
left:500px; 
top:50px;
}

.image6 {
position:absolute; 
left:1000px; 
top:135px;
}

.image7 {
position:absolute; 
left:50px; 
top:150px;
}

.image8 {
position:absolute; 
left:500px; 
top:90px;
}

.image9 {
position:absolute; 
left:1020px; 
top:110px;
}

.container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 470px;
  left: 320px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.container .btn:hover {
  background-color: green;
}

.cont1 {
  position: relative;
  width: 50%;
}


/* Style the button and place it in the middle of the container/image */
.cont1 .btn1 {
  position: absolute;
  top: 435px;
  left: 725px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.cont1 .btn1:hover {
  background-color: green;
}


.cont2 {
  position: relative;
  width: 50%;
}


/* Style the button and place it in the middle of the container/image */
.cont2 .btn2 {
  position: absolute;
  top: 440px;
  left: 1158px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.cont2 .btn2:hover {
  background-color: green;
}

.container1 .btn3 {
  position: absolute;
  top: 515px;
  left: 260px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.container1 .btn3:hover {
  background-color: green;
}

.cont3 {
  position: relative;
  width: 50%;
}


/* Style the button and place it in the middle of the container/image */
.cont3 .btn4 {
  position: absolute;
  top: 380px;
  left: 700px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.cont3 .btn4:hover {
  background-color: green;
}


.cont4 {
  position: relative;
  width: 50%;
}


/* Style the button and place it in the middle of the container/image */
.cont4 .btn5 {
  position: absolute;
  top: 380px;
  left: 1200px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-style: verdana; 
  padding: 12px 24px;
  border: groove;
  border-color: green;
  cursor: pointer;
  border-radius: 14px;
}

.cont4 .btn5:hover {
  background-color: green;
}

.carousel-item img {
  align-content: center;
  width: 100%
}


