<template>
  <div id="app">
        
    
     <nav class="navbar navbar-expand-sm">

            <a class="navbar-logo">
                  <img src="../../assets/image/logo.png" alt="">
            </a>

            <ul class="navbar-nav">
                <p class="text">Library System</p>
            </ul>
     </nav>
     
   </div>
  
</template>