<template>
  <div class="sidenav" id="app">
        

          <div class="sidebar">
              <router-link to="/Dashboard">
                    <a class="text1">DASHBOARD</a>
              </router-link>
              
              <router-link to="/Patron">
                            <a class="text2">PATRON MANAGEMENT</a>
              </router-link>
              
              <router-link to="/Book">
                     <a class="text3">BOOK MANAGEMENT</a>
              </router-link>
              
              <router-link to="/Settings">
                    <a class="text4">SETTINGS</a>
              </router-link>
              

            <a class="text5" href="#about">LOGOUT</a>


          </div>
     
   </div>
  
</template>
<script>
export default {
  props: {
    isActive: String,
  },
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  }
}
</script>
<style></style>