body,html{
  background-color: #4FB2AD;
  width: 100%;
	height: 100%;
  min-height: 100%;
}

.navbar-expand-sm {
    background-color: #C2AF00;
    padding-top: 30px;
    border-bottom: solid;
    border-color: #000000;
}

.navbar-logo {
    position: absolute;
    width: 130.56px;
    height: 100px;
    left: 85px;
    top: 5px;
}

.text {
    position: relative;
    left: 220px;
    bottom: 9px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
}
.text1 {
   position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
    display: block;
    align-items: center;
    text-align: center;
    
}

.text2 {
  position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
   
}
.text3 {
  position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
   
}

.text4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.text5 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
}

.text6 {
    position: absolute;
    width: 600px;
    height: 80px;
    left: 730px;
    top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 70px;

}
.text7 {
position: absolute;
width: 226px;
height: 47px;
left: 515px;
top: 113px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 35px;
display: flex;
align-items: flex-end;

color: #000000;

}

.text8 {
  position: absolute;
  width: 600px;
  height: 80px;
  left: 720px;
  top: 18px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 70px;

}

.sidebar {
    position: relative;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #C2AF00;
    height: 100%;
    overflow: auto;
    border-bottom: solid;
    border-right: solid;
    border-color: #000000;
    padding-bottom:300px;
  

  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #aaa;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(85, 85, 85);
    color: white;
  }
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .table {
    position: absolute;
    margin: auto;
    width: 75% !important; 
    height: 200px;
    left: 350px;
    top: 170px;
    border: 3px solid #000000;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    
  }
  .table-bordered > thead > tr > th,
  .table-bordered > tbody > tr > th,
  .table-bordered > tfoot > tr > th,
  .table-bordered > thead > tr > td,
  .table-bordered > tbody > tr > td,
  .table-bordered > tfoot > tr > td {
     border: 3px solid #000000;
  }
  .thead1 {
    text-align: center;
  }

  .img {
    position: absolute;
    width: auto;
    height: 45px;
    left: 460px;
    top: 120px;
  }
  .img1 {
    position: absolute;
    width: auto;
    height: 60px;
    left: 1050px;
    top: 120px;
    
  }

  .img2 {
   width: auto;
   height: 65px;
  }
  .img3 {
    width: auto;
    height: 57px;
    left: 20px;
   }
   .img4 {
     position: absolute;
    width: auto;
    height: 57px;
    left: 978px;
    top: 240px;
   }
   .img5  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 240px;
   }
   .img6  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 978px;
    top: 88px;
   }
   .img7  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 88px;
   }
   
   .img8  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 978px;
    top: 163px;
   }
   .img9  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 163px;
   }

   .img10  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 980px;
    top: 318px;
   }
   .img11  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 318px;
   }

   .img12  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 980px;
    top: 393px;
   }
   .img13  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 393px;
   }
   .img14  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 980px;
    top: 467px;
   }
   .img15  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1030px;
    top: 467px;
   }

   .img16  {
    position: absolute;
    width: auto;
    height: 55px;
    left: 850px;
    top: 90px;
   }

   .img17  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top: 90px;
   }

   .img18  {
    position: absolute;
    width: auto;
    height: 55px;
    left: 850px;
    top: 165px;
   }
   .img19  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top: 165px;
   }
   .img20  {
    position: absolute;
    width: auto;
    height: 55px;
    left: 850px;
    top: 240px;
   }
   .img21  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top: 240px;
   }
   .img22  {
    position: absolute;
    width: auto;
    height: 55px;
    left: 850px;
    top: 315px;
   }
   .img23  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top: 315px;
   }
   .img24  {
    position: absolute;
    width: auto;
    height: 55px;
    left: 850px;
    top: 395px;
   }
   .img25  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top:395px;
   }
   .img26  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 850px;
    top: 467px;
   }

   .img27  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 902px;
    top: 467px;
   }
   .img28  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 90px;
   }

   .img29  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 90px;
   }

   .img30  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 165px;
   }

   .img31  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 165px;
   }

   .img32  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 241px;
   }

   .img33  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 241px;
   }

   .img34  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 315px;
   }

   .img35  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 315px;
   }

   .img36  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 392px;
   }

   .img37  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 392px;
   }

   .img38  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 967px;
    top: 467px;
   }

   .img39  {
    position: absolute;
    width: auto;
    height: 53px;
    left: 1023px;
    top: 467px;
   }

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: flex;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}
.input-group {
  left: 1050px;
}
.modal-body {
  background-color: #4FB2AD;
}

.modal-footer {
  border-color: #4FB2AD;
}
.modal-header{
  border-color: #4FB2AD;
}

.modal1-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal1-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}

.modal1-body {
background-color: #4FB2AD;
text-align: justify left;
font-family: roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
}

.modal2-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal2-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal2-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal3-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal3-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal3-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal4-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal4-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal4-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal5-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal5-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal5-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal6-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal6-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal6-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal7-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal7-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal7-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal8-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal8-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal8-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal9-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal9-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal9-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal10-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal10-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal10-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal11-header{
  background-color: #C2AF00;
  padding-top: 1px;
}
.modal11-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal11-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal12-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal12-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal12-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal13-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal13-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal13-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal14-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal14-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal14-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal15-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal15-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal15-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal16-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal16-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal16-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal17-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal17-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal17-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal18-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal18-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal18-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal19-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal19-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal19-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal20-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal20-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal20-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal21-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal21-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal21-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal22-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal22-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal22-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal23-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal23-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal23-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.modal24-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal24-footer {
  border-color: #4FB2AD;
  background-color: #4FB2AD;
}
.modal24-body {
  background-color: #4FB2AD;
  text-align: justify left;
  font-family: roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.modal-dialog {
  max-width: 800px; /* New width for default modal */
}

#charts {
  position: absolute;
  width: 10%;
  top: 130px;
  left: 570px;
  background: transparent;
  
}

#charts1 {
  position: absolute;
  width: 10%;
  top: 440px;
  left:570px;
  background: transparent;
  
}

.column {
  position: relative;
	float: center;
	color:black;
	width: 30%;
	padding-top: 15%;
  height: 300px; 
  left: 500px;
  bottom: 750px;
	
}